.container{
    height: 700px;
    width: 1200px;
   
    
    margin-top: 50px;
   
}
.navbar{
    margin-left: 200px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 7px;
   -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;;
}
.header{
    text-align: center;
}
.container input{
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid rgb(101, 122, 136);
    margin-top: 20px;
    margin-left: 450px;
    outline: none;
    padding-left: 20px;
    width: 400px;

}
.searchicon{
    margin-left: 430px;
    margin-bottom: -50px;
   
}
.container .info{
text-align: center;
background-color: rgb(135, 219, 211);
height: 500px;
margin-left: 200px;
}
p{
    
   margin-left: 470px;
}